html, body, #react-target {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background: #0f1115;
}

canvas {
  display: block;
  outline: none;
}
